@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

/* 色票設定 */
:root {
  --primary-color: #f0a500;
  --secondary-color: #cf7500;
  --third-color: #424642;
  --fourth-color: #123132;
  --fifth-color: #9a9a9a;
}

* {
  box-sizing: border-box;
}

/* a超連結樣式設定 */
a {
  text-decoration: none;
  color: black;
}

/* li樣式去掉前面圖案設定 */
li {
  list-style-type: none;
}

/* <p>標籤設定歸零 */
p {
  margin: 0.3rem 0;
  padding: 0;
}

/* <ul>標籤預設padding歸零 */
ul {
  padding: 0;
}

/* Carousel套件樣式設定 */
.flickity-viewport {
  cursor: default !important;
}

/* 預設中文字體 */
.ff-noto {
  font-family: "Noto Sans TC", sans-serif;
}

/* 預設英文字體 */
.ff-raleway {
  font-family: "Raleway", sans-serif;
}

/* svg尺寸 class設定 */
.svg {
  width: 2rem;
  height: 2rem;
}

/* navbar 專屬logo-svg設定 */
.navbar-logo-svg {
  width: 5rem;
  height: 3rem;
}

/* flex class設定 */
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* 上下左右margin class設定 */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}

/* display: none class設定 */
.none {
  display: none;
}

/* --------------------Side-navbar------------------- */

div.side-navbar {
  background-color: var(--fourth-color);
  position: fixed;
  z-index: 998;
  width: 90px;
  border-radius: 0 3rem 3rem 0;
  height: 65%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  padding-top: 1.5%;
}

div.side-navbar-flex {
  flex-direction: column;
  align-content: center;
}

div.side-navbar div.homepage-container {
  height: 450px;
  overflow: hidden;
  margin-bottom: 1rem;
}

div.side-navbar div.navbar-item {
  width: 55px;
  text-align: center;
  margin-bottom: 2rem;
}

div.side-navbar div.navbar-item p.text {
  color: white;
  font-size: 0.8rem;
}

div.side-navbar div.icon-arrow-down {
  margin-right: 5px;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.5s ease-in;
}

div.side-navbar div.icon-arrow-down.hide {
  transform: scale(0);
}

div.side-navbar div.icon-arrow-down.show {
  transform: scale(1);
}

div.side-navbar div.icon-arrow-up.hide {
  transform: scale(0);
}

div.side-navbar div.icon-arrow-up.show {
  transform: scale(1);
}

div.side-navbar div.icon-arrow-up {
  margin-right: 5px;
  margin-bottom: -10px;
  cursor: pointer;
  transition: 0.5s ease-in;
}

div.side-navbar div.side-navbar-item {
  transition: 0.5s ease-in-out;
  transform: translateY(-49%);
}

div.side-navbar div.side-navbar-item.slide-down {
  transform: translateY(2.5%);
}

div.side-navbar div.side-navbar-item.slide-up {
  transform: translateY(-49%);
}

/* --------------------Navbar------------------------ */

div.navbar {
  background-color: var(--fourth-color);
  padding: 0 0.5rem;
}
div.navbar-right div.hamburger {
  position: relative;
  z-index: 998;
  display: flex;
  transition: 0.2s ease-in-out 0.8s;
}
.hamburger #check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
}
.hamburger #check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}
.hamburger
  #check:checked
  ~ .hamburger-menu-container
  .hamburger-menu
  div:before {
  transform: translateY(0) rotate(-45deg);
}
.hamburger
  #check:checked
  ~ .hamburger-menu-container
  .hamburger-menu
  div:after {
  transform: translateY(0) rotate(45deg);
}
.hamburger .hamburger-menu-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hamburger .hamburger-menu-container .hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger .hamburger-menu-container .hamburger-menu div {
  width: 1.5rem;
  height: 3px;
  border-radius: 0.5rem;
  background-color: white;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}
.hamburger .hamburger-menu-container .hamburger-menu div:before,
.hamburger .hamburger-menu-container .hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.hamburger .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(-8px);
}
.hamburger .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(8px);
}

nav.menu-btn {
  transform: translateX(0%);
}

nav {
  position: fixed;
  z-index: 1000;
  transform: translateX(100%);
  width: 80%;
  right: 0;
  top: 0;
  background-color: white;
  height: 200vh;
  padding: 2rem;
  transition: 0.5s ease-in-out;
}

nav li {
  margin-bottom: 1.5rem;
}

nav p {
  font-size: 1.2rem;
  color: var(--fourth-color);
  font-weight: 500;
}

nav .icon-arrow-forward {
  fill: var(--fourth-color);
  width: 1rem;
}

nav .icon-nomad-logo path {
  fill: var(--fourth-color);
}

nav p.text {
  letter-spacing: 2px;
  line-height: 1.7;
  color: var(--primary-color);
}

nav div.btns {
  justify-content: flex-start;
}

nav div.logout-btn,
div.signup-btn,
div.login-btn {
  margin-right: 1rem;
  margin-top: 3rem;
  width: 80px;
  text-align: center;
  background-color: var(--fourth-color);
  color: white;
  border-radius: 2.5rem;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

nav div.signup-btn {
  background-color: var(--primary-color);
  color: var(--fourth-color);
}

.modal2 {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal2.open {
  opacity: 1;
  pointer-events: all;
}

/* --------------Hero-section------------------------ */


/* -----------------News-section---------------------  */



/* -----------------explore-section-----------------*/



/* --------------------detail-section-------------------------*/



/* ----------------Achievement-section----------------- */



/* --------------------comment-section---------------------- */



/* ----------------------footer-section------------------------ */


/* ---------------------fixed-section-------------------------- */

section.fixed-section {
  background-color: white;
  border-top: 1px solid var(--fourth-color);
  padding: 0.7rem 0.5rem;
  position: fixed;
  z-index: 998;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

section.fixed-section div.homepage-container {
  justify-content: space-around;
}

section.fixed-functions {
  width: 23%;
  vertical-align: middle;
}

section.fixed-section svg {
  fill: var(--fourth-color);
  vertical-align: middle;
}

section.fixed-section svg.icon-cart {
  stroke: var(--fourth-color);
}

@media only screen and (min-width: 1420px) {
  /* ---------------------side-navbar---------------------- */

  div.side-navbar {
    display: block;
  }

  /* --------------------Navbar------------------------- */

  div.navbar {
    background-color: transparent;
    padding: 1rem 0.5rem;
  }

  div.navbar div.navbar-right {
    justify-content: center;
  }

  div.navbar div.navbar-right div.cart {
    display: block;
    margin-right: 2rem;
  }

  div.navbar div.navbar-right div.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  div.navbar div.left-box {
    margin-right: 1rem;
    width: 50px;
  }

  div.navbar div.left-box img {
    width: 100%;
  }

  div.navbar div.right-box p {
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  div.navbar div.hamburger {
    display: none;
  }

  /* -----------------hero-section--------------- */



  /* -----------------news-section---------------- */

  
  /* -------------------explore-section----------------- */

  

  /* -------------------detail-section---------------- */

  
  /* ------------------achievement-section------------------------*/

  
  /* ----------------------comment-section------------------------ */

  
  /* --------------------------footer-section---------------------- */


  /* -----------------------fixed-section---------------------- */

  section.fixed-section {
    display: none;
  }
}
